<!DOCTYPE html>
<html>
<head>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-resource/angular-resource.min.js"></script>

  <script src="scripts/app.js"></script>
  <script src="scripts/config.js"></script>

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="app" class="container">
  <div ng-controller="DevicesController">
    <div class="col-lg-12 text-center headline">
      <h1>Android device monitoring</h1>
    </div>
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Connected devices</h4>
          <div ng-repeat="device in devices">
            {{device['ro.product.manufacturer']}} {{device['ro.product.model']}}
          </div>
          <h5>Device count: {{devices.length}}</h5>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Device logs</h4>
          <div ng-repeat="log in deviceLogs">
            Device with id {{log.device.id}} was {{getEvent(log)}}
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
