* {
  color: black;
}

body {
  background-color: #333333;
}

.container {
  margin-top: 50px;
}

.headline {
  margin-bottom: 50px;
  color: white;
}

.logs {
  overflow-y: scroll;
  max-height: 300px;
}

.serialNo {
  color: 	#CC0000;
}
